      .container {
  padding-top: 70px;
  max-width: 1200px;
  width: 96% !important;
  margin: 0 auto;
  
}
    .left-section, .right-section {
      flex: 1;
    }
      .contact-info {
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-item .icon {
  margin-right: 15px;
}

.contact-item img {
  width: 30px;
  height: auto;
}

.contact-item h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-item p {
  font-size: 14px;
}

.form-group {
  margin-bottom: 20px;
}

.formtext {
  display: block;
  margin-bottom: 5px;
}

.forminput {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #1B2330;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #405270;
}